body {
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
}

a:link {
    color: var(--md-sys-color-primary);
}

a:visited {
    color: var(--md-sys-color-secondary);
}