label {
    display: flex;
    align-items: center;
    width: fit-content;
    color: var(--md-sys-color-on-background)
}

body {
    background-color: var(--md-sys-color-background)
}

.nav {
    /*--md-list-container-color: transparent;*/
    display: block;
    margin-inline: var(--catalog-spacing-m);
    min-width: unset;
    height:100%;
}

#navigation {
    background-color: var(--md-sys-color-background)
}

#top_bar{
    display: block;
    height: var(--catalog-top-app-bar-height);
}