.g_id_signin {
    max-width: 12em;
}

#topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body {
    display: flex;
    justify-content: center;
}

section {
    border-radius: 2em;
}

#loginPage {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    row-gap: 1em;
}